.settings__setting{
    padding: 23px 0px;
    border-bottom:1px solid #F7F7F7;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #404040;
    justify-content: space-between;
}
.settings__setting i{
    margin-right: 12px;
    font-size: 22px;
    color: #404040;
}
.settings__setting-column:last-child{
    color: #8D8D8D;
    font-size: 20px;
}